$font-stack: Helvetica, sans-serif;
$primary-color: #fdfdfd;
$faded-color: #a0a0a0;
$background-color: #202020;
$card-background-color: #0c0c0c;
$table-background-color: #050505;
$background-color-highlight: #151515;
$modal-background-color: #101010;
$modal-border-color-init: #a0a0a0;
$modal-border-color: #404040;
$border-color: #808080;
$table-border-color: #404040;

$table-border: $table-border-color .1em solid;
$table-header-border: $border-color .1em solid;
$modal-border: $modal-border-color .25em solid;

$button-background-color: #050505;
$button-background-hover: #303030;
$button-background-flash: #909090;
$input-background-color: #050505;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;

  button, select {
    border: .1em solid $border-color;
    border-radius: .5em;
    color: $primary-color;
    transition: .2s linear;
    background-color: $button-background-color;
    padding: .25em 1em;
    cursor: pointer;

    &:hover {
      transition: .2s linear;
      background-color: $button-background-hover;
    }
  }
}


.main {
  height: 100vh;
  height: 100vw;
}

.modal {
  position: fixed;
  width: fit-content;
  top: 8vh;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 86vh;
  max-height: 86vh;
  overflow: auto;
  background-color: $modal-background-color;
  border: $modal-border;
  border-radius: 0 .25em .25em .25em;
  box-shadow: rgba(10,10,10,.8) 0px 20px 20px 30px;

  &-header {
    padding: 1em;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;

    font-weight: 800;
    font: 120% serif;
    border-bottom: $border-color .1em solid;
    text-overflow: ellipsis;
    background-color: inherit;

    > div {
      flex: 0 1 auto;
      &:not(:first-child) {
        margin-left: 1em;
      }
    }
  }

  &-body {
    border-bottom: $border-color .1em solid;
    padding: 1em 2em;
  }

  h3 {
    padding: 0;
    margin: 0;
    padding-bottom: 0.5em;
    border-bottom: $table-border;
    margin-bottom: 0.5em;
  }

  .modal-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &:not(:first-child) {
      margin-top: 2em;
    }

    > button {
      align-self: center;
    }
  }

  .table-wrapper {
    margin-top: 1em;
    background-color: $table-background-color;
    padding: .5em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;

    .blank {
      color: $faded-color;
      font-style: italic;
    }

    table {
      table-layout: fixed;
      border-collapse: collapse;
    }

    th {
      font-weight: 600;
      border-bottom: $table-header-border;
    }

    th, td {
      padding: .5em;
      text-align: center;
      min-width: 1em;
      min-height: 1em;
    }

    tr:not(:last-child) {
      td {
        border-bottom: $table-border;
      }
    }

    th:not(:last-child), td:not(:last-child) {
      border-right: $table-border;
    }

    > button {
      margin: 1em auto;
    }
  }
}

.column-editor {
  display: flex;
  flex-direction: row;
  > div:not(:last-child) {
    margin-right: 1em;
  }
  padding-bottom: 1em;
}

.input-wrapper {
  display: grid;
  grid-row-gap: .5em;
  grid-column-gap: 1em;
  .input-label {
    grid-column-start: 1;
    justify-self: end;
  }
  .input-element {
    grid-column-start: 2;
  }
  .btn-group {
    grid-column: span 2;
    justify-self: end;
  }

  input, textarea {
    border: none;
    color: $primary-color;
    background-color: $input-background-color;
    padding: .5em;
  }
}

.top-menu {
  display: flex;
  flex-direction: row;
  padding: 1em 2em;
  justify-content: space-between;
  .left-group {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    > div {
      margin-right: 1em;
    }
  }
  .center-group {
    right: 0;
    left: 0;
    margin: auto;
    .title {
      font-weight: 600;
    }
  }
  .right-group {
    flex: 0 0 auto;
  }
}

.card {
  border: $border-color .1em solid;
  border-radius: 0 1em 1em 1em;
  margin: 1em 2em;
  padding: 1em 2em;
  background-color: $card-background-color;
  cursor: pointer;
  flex: 0 0 auto;

  &-header {
    font-weight: 600;
    font: 120% serif;
    border-bottom: $border-color .1em solid;
    padding-bottom: .25em;
    text-overflow: ellipsis;
  }

  &-subheader {
    font-size: 85%;
    font-style: italic;
    text-align: right;
  }

  &-content {
    margin-top: 1em;
    background-color: $table-background-color;
    padding: .5em;
    border-radius: 1em;

    table {
      margin: 0 auto;
      table-layout: fixed;
      border-collapse: collapse;
    }

    th {
      font-weight: 600;
      border-bottom: $table-header-border;
    }

    th, td {
      padding: .5em;
      text-align: center;
      min-width: 1em;
    }

    tr:not(:last-child) {
      td {
        border-bottom: $table-border;
      }
    }

    th:not(:last-child), td:not(:last-child) {
      border-right: $table-border;
    }
  }

  &:hover {
    background-color: $background-color-highlight;
    box-shadow: rgba(10,10,10,.8)  0px 5px 5px 5px;
  }

  transition: background-color .3s;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.modal-editor {
  animation: slide-in .5s ease-out;

  &-closing {
    animation: slide-out .5s ease-in;
  }

  @keyframes slide-in {
    from {
      transform: translateY(-150%);
    }
  }

  @keyframes slide-out {
    to {
      transform: translateY(-150%);
    }
  }
}

.modal-select {
  animation: pop-in .3s ease-out;

  &-closing {
    animation: pop-out .2s linear;
  }

  @keyframes pop-in {
    from {
      transform: scale(120%);
      opacity: 0;
    }
  }

  @keyframes pop-out {
    to {
      transform: scale(80%);
      opacity: 0;
    }
  }
}

.btn-group {
  > button:not(:first-child) {
    margin-left: .5em;
  }
}
